<ion-header>

    <ion-toolbar>
    <ion-buttons slot="start">
        <ion-menu-button menu="menuId"></ion-menu-button>
      </ion-buttons>

  
    <ion-title>Últimos Gastos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <h3 *ngIf="listaGasto.length == 0">Nenhum Gasto Cadastrado!</h3>

    <ion-list>
      <ion-item>
          <ion-label>Nome</ion-label>
          <ion-label>Preço</ion-label>
          <ion-label>Mês</ion-label>
          <ion-label>Catégoria</ion-label>
      </ion-item>
        
        <ion-item *ngFor="let m of listaGasto">
          <ion-label>{{m.nome}}</ion-label>
          <ion-label>{{m.preco}}</ion-label>
          <ion-label>{{m.mes}}</ion-label>
          <ion-label>{{m.categoria}}</ion-label>
        </ion-item>
      </ion-list>

      <ion-footer>
          <ion-toolbar>
            <p>Total: {{ listaGasto.length }}</p>            
          </ion-toolbar>
        </ion-footer>
</ion-content>
